<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<<<<<<< HEAD
</head>

<body>
	<center>
		<h1>กรุณาใส่คำตอบของคุณ</h1>
	</center>
	<form method="POST" action="/index">
		<div class="form-group">
			<input type="text" name="word_old">
		</div>
		<input class="btn btn-primary" type="submit" value="submit">
	</form>

	<div class="custom-control custom-checkbox">
		<input class="custom-control-input" type="checkbox" value="{{ word1 }}" id="customCheck1">
		<label class="custom-control-label" for="customCheck1">
			ตัดคำด้วย icu = {{ word1 }}
		</label>
	</div>
	<div class="custom-control custom-checkbox">
		<input class="custom-control-input" type="checkbox" value="{{ word2 }}" id="customCheck2">
		<label class="custom-control-label" for="customCheck2">
			ตัดคำด้วย mm = {{ word2 }}
		</label>
	</div>
	<div class="custom-control custom-checkbox">
		<input class="custom-control-input" type="checkbox" value="s {{ word3 }} " id="customCheck3">
		<label class="custom-control-label" for="customCheck3">
			ตัดคำด้วย newmm = {{ word3 }}
		</label>



	</div>

	<input class="btn btn-info" type="submit" value="Confirm" onclick="myFunction()">
		<p id="Value_icu"></p>
		<p id="Value_mm"></p>
		<p id="Value_newmm"></p>

<script>
function myFunction() {
	if(customCheck1.checked == true){
    var var_icu = document.getElementById("customCheck1").value;
    document.getElementById("Value_icu").innerHTML = var_icu;}
    if(customCheck2.checked == true){
    var var_mm = document.getElementById("customCheck2").value;
    document.getElementById("Value_mm").innerHTML = var_mm;}
    if(customCheck3.checked == true){
    var var_newmm = document.getElementById("customCheck3").value;
    document.getElementById("Value_newmm").innerHTML = var_newmm;}
}
</script>
</body>
=======
	<body>

		<div class="container">
		<center><h1>กรุณาใส่คำตอบของคุณ</h1></center>
		<form method="POST" action = "/index">
			<div class="form-group" >
			<input type="text" name="word_old">
			</div>
			<input class="btn btn-primary"  type="submit" value ="submit">
		</form>

<from>
		<div class="form-check">
	  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" >
	  <label class="form-check-label" for="defaultCheck1">
	    ตัดคำด้วย icu = {{ word1 }}
	  </label>
	</div>
	<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" >
  <label class="form-check-label" for="defaultCheck1">
    ตัดคำด้วย mm = {{ word2 }}
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  >
  <label class="form-check-label" for="defaultCheck1">
   ตัดคำด้วย newmm = {{ word3 }}
  </label>
</from></div>
</div>

	</body>
>>>>>>> 4ca762b9718ed5fe3d7abfde60d9906cdd6e1de5

</html>
